.card{
    display: flex;
    justify-content: center;
    border: solid 1vh #9d9167;
    border-radius: 2vw;
    width: 10vw;
    height: 10vw;
    margin: 1vh;
    box-shadow: 1vh 1vh #dabc98;
}

img{
    size: 50%;
}


.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
}