.card{
    display: flex;
    justify-content: center;
    border-color: #9a9167 #8a7652 #8a7652 #9a9167;
    border-radius: 2vw;
    width: 10vw;
    height: 10vw;
    margin: 1vh;
    box-shadow: 1vh 1vh #dabc98;

    img{
        visibility: hidden;
    }
}

img{
    size: 50%;
}

.flipped{
    img{
        visibility: visible;
    }
}


.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.flipped, .scorebox{
    background-color: #84592a;
    border-color: #732e12 #621f0b #621f0b #732e12;
}

.card, .scorebox{
    border: solid 1vh;
}

.scorebox{
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
    height: 10vw;
}

#scoreSect{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}